<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trasen.imis.dao.JfRecordMapper">
    <select id="getattcenCounttList" parameterType="String" resultType="com.trasen.imis.model.TbAttenceCount">
        select * from tb_attence_count where count_date=#{count_date}
    </select>

    <select id="getSystemBonus" parameterType="java.util.Map" resultType="int">
        select count(*) from tb_jf_record where type=3 and work_num=#{workNum} and DATE_FORMAT(created,"%Y-%m-%d") like CONCAT(#{yearMonth},'%')
    </select>

    <select id="getAddWorkNum" parameterType="Map" resultType="Integer">
        select count(*) from tb_attence where type=1 and work_num=#{workNum} and DATE_FORMAT(created,"%Y%m") = #{date};
    </select>

</mapper>