<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trasen.imis.dao.TbJfRecordMapper">
    <select id="queryJfPersonnel" parameterType="Map" resultType="com.trasen.imis.model.TbJfPerson">
        select per.*,jf.score,CONCAT(r.`name`, r.type) as rankName
        from tb_personnel per
        left join tb_personnel_jf jf on per.work_num = jf.work_num
        left join tb_jf_rank r on jf.rank = r.pkid
        where 1=1
        <if test="tagCode!=null and tagCode!=''">
            and per.tag_code LIKE CONCAT('%',#{tagCode},'%')
        </if>
        <if test="name!=null and name!=''">
            and per.name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>

    <select id="seachJfRecord" parameterType="Map" resultType="com.trasen.imis.model.TbJfRecord">
        select * from tb_jf_record where status=1
        and work_num=#{workNum}
        <if test="startDate!='' and startDate != null">
            <![CDATA[ AND date(created) >= #{startDate} ]]>
        </if>
        <if test="endDate!='' and endDate != null">
            <![CDATA[ AND date(created) <= #{endDate} ]]>
        </if>
    </select>

    <select id="getJfPersonnel" resultType="com.trasen.imis.model.TbJfPerson" parameterType="String">
        select * from tb_personnel_jf where work_num = #{workNum} limit 1
    </select>
    
    <insert id="addJfPersonToScore" parameterType="com.trasen.imis.model.TbJfPerson">
        insert into tb_personnel_jf (work_num,score,created,operator)
        values (#{workNum},#{score},now(),#{operator})
    </insert>

    <insert id="addJfPersonToRank" parameterType="com.trasen.imis.model.TbJfPerson">
        insert into tb_personnel_jf (work_num,rank,created,operator)
        values (#{workNum},#{rank},now(),#{operator})
    </insert>

    <update id="updateJfPersonToScore" parameterType="com.trasen.imis.model.TbJfPerson">
        update tb_personnel_jf set score = #{score} ,operator=#{operator},updated=now()
        where work_num = #{workNum}
    </update>

    <update id="updateJfPersonToRank" parameterType="com.trasen.imis.model.TbJfPerson">
        update tb_personnel_jf set rank = #{rank} ,operator=#{operator},updated=now()
        where work_num = #{workNum}
    </update>

    <select id="getRankName" parameterType="Integer" resultType="String">
        select CONCAT(`name`, `type`) as rankName from tb_jf_rank where pkid = #{rank}
    </select>

    <insert id="addJfRecord" parameterType="com.trasen.imis.model.TbJfRecord">
        insert into tb_jf_record (work_num,score,`type`,status,remark,create_user,created,is_show)
        values (#{workNum},#{score},#{type},#{status},#{remark},#{createUser},now(),1)
    </insert>

    <update id="updateJfRecord" parameterType="com.trasen.imis.model.TbJfRecord">
        update tb_jf_record set remark=#{remark},operator=#{operator},updated=now()
        where pkid = #{pkid}
    </update>

    <select id="getScoreFromWorkNum" parameterType="String" resultType="Integer">
        select score from tb_personnel_jf where work_num = #{workNum} limit 1
    </select>





</mapper>