<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trasen.imis.dao.TbJfRecordMapper">
    <select id="queryJfPersonnel" parameterType="Map" resultType="com.trasen.imis.model.TbJfPerson">
        select per.*,jf.score,CONCAT(r.`name`, r.type) as rankName
        from tb_personnel per
        left join tb_personnel_jf jf on per.work_num = jf.work_num
        left join tb_jf_rank r on jf.rank = r.pkid
        where 1=1
        <if test="tagCode!=null and tagCode!=''">
            and per.tag_code LIKE CONCAT('%',#{tagCode},'%')
        </if>
        <if test="name!=null and name!=''">
            and per.name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>

    <select id="seachJfRecord" parameterType="Map" resultType="com.trasen.imis.model.TbJfRecord">
        select * from tb_jf_record where status=1
        and work_num=#{workNum}
        <if test="startDate!='' and startDate != null">
            <![CDATA[ AND date(created) >= #{startDate} ]]>
        </if>
        <if test="endDate!='' and endDate != null">
            <![CDATA[ AND date(created) <= #{endDate} ]]>
        </if>
    </select>




</mapper>