<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trasen.imis.dao.TbProductMapper">
    <select id="selectProductCount" resultType="com.trasen.imis.model.TbProModule" parameterType="String">
        select * from tb_pro_module where mod_id=#{modId}
    </select>
    <insert id="saveProduct" parameterType="com.trasen.imis.model.TbProModule">
        insert into tb_pro_module(mod_id,mod_name,mod_no,pro_code,version,is_vaild,created)
         values(#{modId},#{modName},#{modNo},#{proCode},#{version},#{isVaild},#{created})
    </insert>
</mapper>